        <div class="col-md-6 col-md-offset-3">
            <h2>{{formName}}</h2>
            <form class="{{formClass}}">
        <div class="form-group">
            <label for="exampleInputTitle">Title</label>
            <input type="title" class="form-control" id="title-input" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="exampleInputGenre">Genre</label>
            <input type="genre" class="form-control" id="genre-input" placeholder="Genre">
        </div>
        <div class="form-group">
            <label for="exampleInputPublisher">Publisher</label>
            <input type="publisher" class="form-control" id="publisher-input" placeholder="Publisher">
        </div>
        <div class="form-group">
            <label for="exampleInputPreference">Preference</label>
            <input type="preference" class="form-control" id="preference-input" placeholder="Preference">
        </div>
        <div class="form-group">
            <label for="exampleInputRating">Rating</label>
            <input type="rating" class="form-control" id="rating-input" placeholder="Rating">
        </div>
        <div class="form-group">
            <label for="exampleInputWishlist">Wishlist</label>
            <input type="wishlist" class="form-control" id="wishlist-input" placeholder="Wishlist">
        </div>
        <div class="form-group">
            <label for="exampleInputPlaying">Playing</label>
            <input type="playing" class="form-control" id="playing-input" placeholder="Playing">
        </div>
        <div class="form-group">
            <label for="exampleInputBeaten">Beaten</label>
            <input type="beaten" class="form-control" id="beaten-input" placeholder="Beaten">
        </div>
        <button type="submit" class="btn btn-default">{{submitButtonLabel}}</button>
        </div>