form.signup,
form.login {
  margin-top: 5px;
  color: chartreuse;
  font-family: "Lucida Sans" "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
html,
body {
  background-color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}
h1 {
  color: black;
  font-size: 40px;
  -webkit-text-stroke: 1px chartreuse;
  background-color: black;
  text-align: center;
  font-family: Coronetscript, cursive
}
h2 {
  background-color: black;
  color: chartreuse;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.black-back {
  background-color: black;
  color: chartreuse;
  outline-width: 15%;
  outline-style: double;
  outline-color: chartreuse;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h2 {
  color: rgb(19, 4, 228);
}

.exampleInputEmail1 {
  color: rgb(19, 4, 228);
}

body {
  color: rgb(19, 4, 228);
  background-color: black;
}

html {
  background-color: black;
}

.container {
  background-color: rgb(36, 36, 43);
  max-width: 500px;
  border-radius: 25%;
  border-color: rgb(19, 4, 228);
  border-style: groove;
}

.navbar {
  background-color: black;
  padding: 0%;
}

.navbar-default {
  background-color: black;
}

form-control {
  background-color: black;
}